/* Password Forms Styles from pwd and confirm HTML files */

body.password-page {
    background: #F9FAFD;
    color: #818181;
}

input {
    border: 1px solid #ccc;
    padding: 7px 0;
    border-radius: 3px;
    padding-left: 5px;
}

.item {
    line-height: 50px;
}

.submit_btn {
    width: 70px;
    height: 40px;
    border-width: 0;
    padding: 10px;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    font-family: Microsoft YaHei;
    color: #fff;
    font-size: 17px;
}

.text a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}